{{ record.rrname }} triggered an alert:
- Type: {{ record.rrtype }}
- Data: {{ record.rdata | join(', ') }}
- First Seen: {{ record.time_first }}
- Last Seen: {{ record.time_last }}
- Count: {{ record.count }}{% if record.sensor_id %}
- Sensor: {{ record.sensor_id }}{% endif %}